<div id="card">
   <!-- <img src="../../images/logo.png"> -->
  <div class="will_rotate">
    <ul class="rotate_parent">
      <li class="tip_front"><img src="../../images/1.jpg"></li>
      <li class="tip_back"><img src="../../images/2.jpg"></li>
      <li class="tip_right"><img src="../../images/3.jpg"></li>
      <li class="tip_left"><img src="../../images/4.jpg"></li>
      <li class="tip_top"><img src="../../images/5.jpg"></li>
      <li class="tip_bottom"><img src="../../images/6.jpg"></li>
      <li class="tip_floor"></li>
    </ul>
  </div>
</div>