<!doctype html>
<html>

<head>
  <meta charset="utf-8">
  <meta content="yes" name="apple-mobile-web-app-capable">
  <meta content="yes" name="apple-touch-fullscreen">
  <meta content="群脉，群硕， SCRM, Social CRM， 微信营销，微博营销，支付宝服务窗，大数据，Social Media Marketing，社会化媒体营销，O2O， 零售软件，客户服务" name="keywords">
  <meta content="群脉Social CRM，最专业的B2C客户经营平台。帮商家通过互联网及实体店连接客户，基于大数据全方位了解客户，建立会员制度持久性留住客户，线上线下全渠道实现个性化客户服务，高转化市场营销和场景化销售管理" name="description">
  <meta content="telephone=no,email=no" name="format-detection">
  <link rel="canonical" href="http://www.maiscrm.com/">
  <title> 233</title>
  <link rel="shortcut icon" href="/favicon.png">
  <link href="//at.alicdn.com/t/font_356275_vv4f7szkfeu680k9.css" rel="stylesheet">
  <script src="//cdn.quncrm.com/flexible-css-0.3.4.js"></script>
  <script src="//res.wx.qq.com/open/js/jweixin-1.2.0.js"></script>
</head>

<body>
  <div id="app"></div>2232
  <img src="./logo.png">
  <!-- built files will be auto injected -->
</body>

</html>