
<div id="snow" >
  <div class="flake">❄</div>
  <div class="flake">❄</div>
  <div class="flake">❄</div>
  <div class="flake">❄</div>
  <div class="flake">❄</div>
  <div class="flake">❄</div>
  <div class="flake">❄</div>
  <div class="flake">❄</div>
  <div class="flake">❄</div>
  <div class="flake">❄</div>
  <div class="flake">❄</div>
  <div class="flake">❄</div>
  <div class="flake">❄</div>
  <div class="flake">❄</div>
  <div class="flake">❄</div>
  <div class="flake">❄</div>
  <div class="flake">❄</div>
  <div class="flake">❄</div>
  <div class="flake">❄</div>
  <div class="flake">❄</div>
  <div class="flake">❄</div>
  <div class="flake">❄</div>
  <div class="flake">❄</div>
  <div class="flake">❄</div>
  <div class="flake">❄</div>
  <div class="flake">❄</div>
  <div class="flake">❄</div>
  <div class="flake">❄</div>
  <div class="flake">❄</div>
  <div class="flake">❄</div>
  <div class="flake">❄</div>
  <div class="flake">❄</div>
  <div class="flake">❄</div>
  <div class="flake">❄</div>
  <div class="flake">❄</div>
  <div class="flake">❄</div>
  <div class="flake">❄</div>
  <div class="flake">❄</div>
  <div class="flake">❄</div>
  <div class="flake">❄</div>
  <div class="flake">❄</div>
  <div class="flake">❄</div>
  <div class="flake">❄</div>
  <div class="flake">❄</div>
  <div class="flake">❄</div>
  <div class="flake">❄</div>
  <div class="flake">❄</div>
  <div class="flake">❄</div>
  <div class="flake">❄</div>
  <div class="flake">❄</div>
  <div class="flake">❄</div>
  <div class="flake">❄</div>
  <div class="flake">❄</div>
  <div class="flake">❄</div>
  <div class="flake">❄</div>
  <div class="flake">❄</div>
  <div class="flake">❄</div>
  <div class="flake">❄</div>
  <div class="flake">❄</div>
  <div class="flake">❄</div>
  <div class="flake">❄</div>
  <div class="flake">❄</div>
  <div class="flake">❄</div>
<div>